<h1>Burger Devour uuuh ER!</h1>

<h2>Devour this Burger <br>
        ...IF you can</h2>

<div class="container">
  {{#each burgers}}
    {{#if devoured}}
   <div class="row">
  <div class="col-6"> Devoured1 {{ burger_name}}</div>
    {{else}}
  <div class="col-6">Untouched {{ burger_name}}</div>
</div>
  {{/if}}
  {{/each}}
</div>


     
</ul>

<h2>Who ate my Burger?</h2>

<h2>Add a new Slammich</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bform">Burger Name:</label>
    <input type="text" id="bform" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Untouched
  </div>

  <button class="create-form" type="submit">Add Burger</button>
</form>